.like-indicator {
    position:absolute;
    bottom:10px;
    left:10px;
    background:black;
    color:white;
    padding:5px 8px;
    border:2px solid white;
    border-radius:5px;
    font-size:12px;
    z-index:9999;
}